# Git Ignore file

# Configuration directories
.idea/*
# but allow shared Run Configurations
!.idea/runConfigurations/

.cproject
.project
.settings/
.conan/
docs/apidocs/

# CMake files
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
gen/

# Build directory
build/
Debug/
cmake-build-debug/
bin/build
bin/test


# Compiler intermediate files
.o
.so
.la
